<div style="width: 90%;">
    <div class="d-flex justify-content-center mb-4">
        <h1 style="font-size: 60px;">Collections</h1>
    </div>
    <div class="row" style="width: 90%">
        {{#each products}}
            <div class="collections-product col-lg-4 col-sm-6 col-xs-12 mt-4" style="flex-direction: column">
                <a class=" d-flex justify-content-center align-items-center" href="/collections/{{this._id}}" style="flex-direction: column">
                    <img src="{{this.image}}" alt="productImg" style="height: 300px">
                    <h4 style="font-weight: 300;">{{this.name}}</h4>
                    <h4 style="font-weight: 300;">${{price this.price}}</h4>
                </a>
            </div>
        {{else}}
            <div class="d-flex justify-content-center align-items-center">
                <h3>No products found</h3>
            </div>
        {{/each}}
    </div>
</div>
