<header>
    <div class="searchField d-flex justify-content-center align-items-center">
        <i class="bi bi-search"></i>
        <input id="searchInput" type="text" placeholder="Search">
        <button id="closeSearchBtn" type="button" class="btn-close" style="margin-top: 5px;"></button>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="row" style="width: 100%">
        <div class="col col-lg-5 d-flex justify-content-start align-self-center">
            <a data-bs-toggle="offcanvas" href="#menuSideBar" role="button">
                <i class="bi bi-list"></i>
            </a>
        </div>
        <div class="col col-lg-2 d-flex justify-content-center align-self-center">
            <a href="/">
                <img src="/img/logo.png" alt="glasslizzard" height="62px">
            </a>
        </div>
        <div class="col col-lg-5 d-flex justify-content-end align-self-center">
            <div class="ms-3">
                <a href="/account">
                    <i class="bi bi-person"></i>
                </a>
                <i class="bi bi-search" id="searchBtn"></i>
                <a data-bs-toggle="offcanvas" href="#cartSideBar" role="button">
                    <i class="bi bi-bag"></i>
                </a>
            </div>
        </div>
    </div>
    </nav>
    <div id="resultSearch" class="row">
    </div>
</header>

{{!-- Menu sidebar left --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuSideBar">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body mt-2 ms-4">
        <a href="/">
        <div class="fs-3" style="width: 100%;">Home</div>
        </a>
        <a href="/collections">
        <div class="fs-3" style="width: 100%;">Shop</div>
        </a>
        <a id="aboutSideBar" style="width: 100%;" data-bs-toggle="collapse" href="#aboutList" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="fs-3 d-flex">
                About
                <div class="d-flex align-self-center justify-content-end" style="width: 100%; box-sizing: border-box;">
                    <i class="bi bi-chevron-compact-down"></i>
                </div>
            </div>
        </a>
        <div class="collapse" id="aboutList" style="margin-bottom: 20px;">
            <ul class="fs-4" style="font-weight: 300;">
                <li>
                    <a href="/pages/about">
                        <div style="width: 100%">
                            About Us
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/pages/faq">
                        <div class="" style="width: 100%">
                            FAQ
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/pages/contact">
                        <div class="" style="width: 100%">
                            Contact Us
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <a href="/blog">
            <div class="fs-3" style="width: 100%;">Blog</div>
        </a>
        <div id="acccountSideBar" class="mt-2" aria-valuetext="{{session.passport.user.email}}">
        </div>
        <form method="GET" class="mt-4" action="/search">
            <input name="q" id="searchSideBar" type="text" placeholder="Search">
            <button>
                <i class="bi bi-search" style="font-size: 24px;"></i>
            </button>
        </form>
        <div class="mt-4">
            <a href="">
                <i style="font-size: 30px; margin-right: 20px" class="fab fa-facebook-f"></i>
            </a>
            <a href="">
                <i style="font-size: 30px; margin-right: 20px" class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i style="font-size: 30px; margin-right: 20px" class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>

{{!-- Cart side bar right --}}
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartSideBar">
  <div class="offcanvas-header" style="border-bottom: dashed 1px #000;">
    <h5 class="offcanvas-title fs-3" id="offcanvasExampleLabel">Your Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body cartSideBarBody">
    <div class="cart-side-bar-products">
        {{#each session.cart}}
            <div class="row" style="width: 95%;" value="{{this._id}}">
                <div class="col-4">
                    <img src="{{this.image}}" alt="productImg" style="width:100%; max-height: 200px; object-fit: contain;">
                </div>
                <div class="col-8 d-flex flex-column justify-content-start mt-2">
                    <div class="d-flex justify-content-between mb-2">
                        <div class="fs-4" style="font-weight: 300;">{{this.name}}</div>
                        <div class="fs-4 product-price" style="font-weight: 300;">${{price this.price}}</div>
                    </div>
                    <div class="d-flex product-quantity justify-content-between mb-2">
                        <input onchange="updateQuantity(event)" name="quantity" type="number" value="{{this.quantity}}">
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <a onclick="removeProduct(event)" class="remove-button" type="button" style="font-weight: 400;" id="{{this._id}}">Remove</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="d-flex justify-content-center align-items-center fs-4" style="font-weight: 300;">
                Your cart is currently empty.
            </div>
        {{/each}}
    </div> 
    {{#if session.cart}}
        <div class="check-out-cart-side-bar d-flex flex-column justify-content-end align-items-center" style="height: 180px; width: 100%">
            <div class="mb-4 row" style="width: 90%;">
                <h4 class="col">Subtotal</h4>
                <h4 class="col total-price text-end"></h4>
            </div>
            <a href="/cart/checkout" class="accountBtn" style="width: 90%;">Check Out</a>
        </div>
    {{/if}}
  </div>
</div>
{{!-- log out form --}}
<form id="logoutForm" method="post" action="/account/logout"></form>

<script src="/script/header.js"></script>    
