<div class="mt-4" style="width: 98%;">
    <div class="mt-4 ms-4 d-flex align-items-center">
        <div class="d-flex align-items-center" style="position: relative;">
            <input class="searchFieldAdminPanel" type="text" placeholder="Search">
            <i class="bi bi-search"></i>
        </div>
        <a href="/products/bin" class="accountBtn" style="width: 200px; margin-left: auto"><i class="bi bi-recycle"></i>&#160;Recycle Bin</a>
        <a href="/products/create" class="accountBtn" style="width: 200px; margin-left: 30px">Create +</a>
    </div>
    <div class="mt-4 ms-2">
        <table class="table align-middle" style="text-align: center; vertical-align: middle;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">img</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody >
        {{#each products}}
            <tr class="productsRow">
                <th scope="row" style="width: 5%;">{{index @index}}</th>
                <td style="width: 5%;"><img src="{{this.image}}" alt="productImg" style="height: 100px"></td>
                <td style="width: 20%;">
                    <div id="productName" class="d-flex justify-content-center align-items-center" style="height: 100px; width: 100%" aria-valuetext="{{this.name}}">
                    </div>
                </td>
                <td style="width: 35%;">
                    <div id="productDescription" class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100px;" aria-valuetext="{{this.description}}">
                    </div>
                </td>
                <td style="width: 10%;">${{price this.price}}</td>
                <td style="width: 10%;">{{this.amount}}</td>
                <td style="width: 5%;">
                    <a href="/products/{{this._id}}/edit">
                        <button type="button" class="btn btn-info">Edit</button>
                    </a>
                </td>
                <td style="width: 5%;">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProductModal" data-id="{{this._id}}">Delete</button>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="9" class="text-center justify-content-center">
                    <h3 class="mb-4 mt-4">No products found</h3>
                    <a href="/products/create" class="accountBtn" style="width: 20%; margin:auto">Create new product</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Delete warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="deleteBtnModal">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<form id="deleteForm" action="" method="post"></form>

<script src="/script/admin-page.js"></script>