<div class="cart-checkout d-flex align-items-center flex-column position-relative" style="padding-top: 10px;">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Checkout</h1>
        </div>
    </div>
    {{#each session.cart}}
    <div class="row">
        <div class="col-2 d-flex justify-content-center">
            <div style="position: relative;">
                <img src="{{this.image}}">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
                    {{this.quantity}}
                </span>
            </div>
        </div>
        <div class="col-7 d-flex align-items-center" style="font-weight: 600;">
            {{this.name}}
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
            ${{calPrice this.price this.quantity}}
        </div>
    </div>

    {{else}}
    
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Cart is empty</h1>
        </div>
    </div>

    {{/each}}

    <div class="row position-absolute">
        <div class="col-9 d-flex align-items-center" style="font-weight: 600;">
            Subtotal
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end subtotal-checkout">
        </div>
    </div>
    <div class="row position-absolute" style="width: 70%;">
        <button type="button" class="accountBtn pay-checkout-btn">Pay</button>
    </div>
</div>

<script>
    const subtotalCheckout = document.querySelector('.subtotal-checkout');
    subtotalCheckout.innerHTML = `$${total.toFixed(2)}`;
    const cartCheckout = document.querySelector('.cart-checkout');

    const payCheckoutBtn = document.querySelector('.pay-checkout-btn');
    // Disable pay button if cart is empty
    if(total == 0) {
        payCheckoutBtn.disabled = true;
    }

    payCheckoutBtn.addEventListener('click', () => {
        const xhr = new XMLHttpRequest();
        xhr.open('post', '/cart/checkout');
        xhr.onload = () => {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                window.location.href = '/cart/checkout/success';
            }
        }
        xhr.send();
    });
</script>